{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:category-list' %}"> GO BACK </a>
    <div class="py-5 border-t border-grey-200 mt-5">
        <h1 class="text-2xl">Are you sure to delete this lead</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-1/10 text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded" type="submit">submit</button>
    </form>
 
</div>
{% endblock content %}